.book {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.bookCover {
  width: 220px;
  height: 210px;
  border: 4px solid #000;
  border-radius: 5px;
  object-fit: cover;
  position: absolute;
}

.bookTitle {
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}

.thumbnail{
  display: inline-block;
  width: 570px;
  height: 220px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
  flex:1;
}

.descriptionSection {
  margin-left: 250px;
}

.ratingDesc{
  display:flex;
}

.thumbnailWrapper{
  display: flex;
  flex-wrap: wrap;
}

/* TODO: Apply some updated CSS, or just utilize what is available within React-Bootstrap */
